<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


  <% if @user.hosted_events.exists?%>

  <em>Upcoming events</em>
  <ul>
    <% @upcoming_events.each do |h| %>
    <li> <%= h.location %>, <%= h.time %>, <%= link_to 'Show', h %> </li>
    <% end %>
  </ul>

  <em>Past events</em>
  <ul>
    <% @prev_events.each do |h| %>
    <li> <%= h.location %>, <%= h.time %>, <%= link_to 'Show', h %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>No events hosted by  <%= @user.name %></p>
  <% end %>

  <% if @user.attended_events.exists? %>
  <ul> 
    <% @user.attended_events.each do |event| %>
      <li> <%= event.location %> </li>
    <%end %> 
  </ul>
  <% else %>
    <p> No events attended by <%= @user.name %></p>
  <% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
