

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


  <% if @user.hosted_events.exists?%>

  <em>Upcoming events</em>
  <ul>
    <% @upcoming_events.each do |h| %>
    <li> <%= h.location %>, <%= h.time %>, <%= link_to 'Show', h %> </li>
    <% end %>
  </ul>

  <em>Past events</em>
  <ul>
    <% @prev_events.each do |h| %>
    <li> <%= h.location %>, <%= h.time %>, <%= link_to 'Show', h %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>No events hosted by  <%= @user.name %></p>
  <% end %>

 <% if @user_invitations.exists? %>
  <ul> 
    <% @user_invitations.each do |event| %>
      <li class = "box">
      The event is happening at:  <%= event.attended_event.location %>
        <% if event.accepted %>
         <h1><%= event.accepted %></h1>
          Accepted invitation
             <%= link_to 'Decline invitation', event_attendance_path(event_attendances: { accepted: false, attended_event_id: event.id, guest_id: @user.id}), method: :patch  %>
    
        <% else %>
          
              Pending invitation
            <%= link_to 'Pending invitation', event_attendance_path(event_attendances: { accepted: true, attended_event_id: event.id, guest_id: @user.id}), method: :put %> 

        <% end %>
       </li>



    <%end %> 
  </ul>
  <% else %>
    <p> No events attended by <%= @user.name %></p>
  <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
