<h1 class= "has-text-centered is-danger is-size-1 has-text-purple">Events</h1>

<div class = "columns is-centered">
  <div class = "column is-half ">
    <div class ="box has-border-colored  has-text-centered">

      <h2 class="has-text-centered is-size-3">Upcoming events</h2>

      <div class="list is-hoverable">
        <% @upcoming_events.each do |event| %>
          <a class = "list-item has-text-black has-text-black">
            Event at <%= event.location %>, <%= event.time %>
            <%= link_to 'Show', event, class: "button  has-text-white is-fullwidth  button-is-purple" %>
          </a>
        <% end %>
      </div>

      <h2 class="has-text-centered is-size-3">Past events</h2>

      <div class="list is-hoverable">
        <% @past_events.each do |event| %>
          <a class = "list-item has-text-black has-text-black">
            Event at <%= event.location %>, <%= event.time %>
            <%= link_to 'Show', event, class: "button  has-text-white is-fullwidth  button-is-purple" %>
          </a>
        <% end %>
      </div>

    </div>
  </div>
</div> 
