<h1 class= "has-text-centered is-danger is-size-1 has-text-purple">Event at <%= @event.location %></h1>

<div class = "columns is-centered">
  <div class = "column is-half ">
    <div class ="box has-border-colored">

      <h2 class="has-text-centered is-size-3">Hosted by <%= @event.host.name %></h2>

      <div class="list is-hoverable">
        <% @event.guests.each do |g|  %>
          <a class = "list-item has-text-black has-text-black">
            <li> <%= g.name %>  </li>
          </a>
        <% end %>
      </div>

      <h2 class="has-text-centered is-hoverable is-size-4">Invite users:</h2>
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>Choose a user</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content ">
              <% @uninvited_users.each do |uninvited| %>
          <div class="dropdown-item is-fullwidth">
              <li><%= uninvited.name %>, <%= link_to 'Invite', event_attendances_path(event_attendances: { attended_event_id: @event.id, guest_id: uninvited.id }), method: :post %> <span><i class = "fas fa-envelope"></i></span> </li>
            </div>
            <hr class="dropdown-divider">
          <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> 

<div class ="column">
    <button class=" button is-centered is-size-4 button-is-lavanda has-text-black  ">
    <span class="icon is-small"><i class="fas fa-undo"></i></span>
    <%= link_to 'Back', events_path, class: "is-backgroundless has-text-black " %>
    </button>
</div>

<br/>
<br/>