<p id="notice"><%= notice %></p>

<h2>Event host: <%= @event.host.name %></h2>
<ul>
    <% @event.guests.each do |g|  %>
        <li> <%= g.name %> </li>
    <%end %>
</ul>

<em>Uninvited users</em>
<ul>
    <% @uninvited_users.each do |uninvited| %>
        <%= uninvited.name %>, <%= link_to 'Invite', event_attendances_path(event_attendances: { attended_event_id: @event.id, guest_id: uninvited.id }), method: :create %> 
    <% end %>
</ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
