<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if session[:user_id] %>
  <%= link_to 'Log out', '/sessions/destroy'%>
  <% else %>
  <%= link_to 'Sign up', new_user_path %>
  <%= link_to 'Log in', sessions_new_path %>
  <% end %>

    <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
