<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body >
  <nav class="navbar">
  <% if session[:user_id] %>
  
  <div class="navbar-item">
  <%= link_to 'Host new event', new_event_path, class: " button button-is-lavanda has-text-white" %> 
  </div>
  <div class="navbar-item">
  <%= link_to 'My hosted events', user_path(session[:user_id]) , class: " button button-is-lavanda has-text-white "  %> 
  </div>
  <div class="navbar-item">
  <%= link_to 'All events', events_path , class: " button button-is-lavanda has-text-white "  %> 
  </div>
<div class = "navbar-end">
    <div class="navbar-item">
    <%= link_to 'Log out', sessions_destroy_path, class: " button  button-is-yellow has-text-dark  "%>
    </div>
</div>
  <% else %>
  <div class="navbar-end">
  <div class="navbar-item">
  <%= link_to 'Sign up', new_user_path, class: " button button-is-lavanda has-text-black " %> 
    </div>
    <div class="navbar-item">
  <%= link_to 'Log in', sessions_new_path, class: " button button-is-yellow has-text-dark  " %>
  </div>
  </div>
  <% end %>
  </nav>
    <% flash.each do |name, message| %>


    <div class=" notification has-text-centered has-text-white notification-is-purple
    <%= name %>"><%= message %>
    <button class = "delete"></button>
    </div>
  <% end %>
    <%= yield %>
    <script>

            console.log("Started script!");
    document.addEventListener('DOMContentLoaded', () => {

  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
    </script>
  </body>
</html>
