<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body >
  <nav class="navbar is-hidden-touch ">
  <% if session[:user_id] %>
  
  <div class="navbar-item is-hidden-touch">
  <%= link_to 'Host new event', new_event_path, class: " button button-is-lavanda has-text-white" %> 
  </div>
  <div class="navbar-item is-hidden-touch">
  <%= link_to 'My hosted events', user_path(session[:user_id]) , class: " button button-is-lavanda has-text-white "  %> 
  </div>
  <div class="navbar-item is-hidden-touch">
  <%= link_to 'All events', events_path , class: " button button-is-lavanda has-text-white "  %> 
  </div>
<div class = "navbar-end is-hidden-touch">
    <div class="navbar-item">
    <%= link_to 'Log out', sessions_destroy_path, class: " button  button-is-yellow has-text-dark  "%>
    </div>
</div>
<% else %>
</div>
  <div class="navbar-end is-hidden-touch">
  <div class="navbar-item">
  <%= link_to 'Sign up', new_user_path, class: " button button-is-lavanda has-text-black " %> 
    </div>
    <div class="navbar-item ">
  <%= link_to 'Log in', sessions_new_path, class: " button button-is-yellow has-text-dark  " %>
  </div>
  </div>
  <% end %>
</nav>

<nav class="navbar is-hidden-desktop ">
  <div class="navbar-brand" id ="navbarBrand">

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu ">
  <% if session[:user_id] %>
  
  <div class="navbar-item is-hidden-desktop ">
  <%= link_to 'Host new event', new_event_path, class: " is-transparent has-text-link	 is-size-2 " %> 
  </div>
  <div class="navbar-item is-hidden-desktop ">
  <%= link_to 'My hosted events', user_path(session[:user_id]) , class: " is-transparent has-text-link is-size-2 "  %> 
  </div>
  <div class="navbar-item is-hidden-desktop ">
  <%= link_to 'All events', events_path , class: " is-transparent has-text-link	 is-size-2 "  %> 
  </div>
    <div class="navbar-item is-hidden-desktop">
    <%= link_to 'Log out', sessions_destroy_path, class: " is-transparent has-text-link	 is-size-2 "%>
    </div>
<% else %>
  <div class="navbar-item is-hidden-desktop">
  <%= link_to 'Sign up', new_user_path, class: " is-transparent has-text-link	 is-size-2 " %> 
    </div>
    <div class="navbar-item is-hidden-desktop ">
  <%= link_to 'Log in', sessions_new_path, class: " is-transparent has-text-link-dark is-size-2  " %>
    </div>
  <% end %>
  </div>
</nav>

    <% flash.each do |name, message| %>


    <div class=" notification has-text-centered has-text-white notification-is-purple
    <%= name %>"><%= message %>
    <button class = "delete"></button>
    </div>
  <% end %>
    <%= yield %>
    <script>

            console.log("Started script!");
    document.addEventListener('turbolinks:load', () => {

const navbarBrand = document.getElementById('navbarBrand')
const navMenu = document.getElementById('navMenu')

const toggleMenu = () => {
  navMenu.classList.toggle('is-active');
}

navbarBrand.setAttribute('onClick', 'toggleMenu()');

  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});


// document.addEventListener('DOMContentLoaded', function () {

//   // Get all "navbar-burger" elements
//   const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

//   // Check if there are any nav burgers
//   if ($navbarBurgers.length > 0) {

//     // Add a click event on each of them
//     $navbarBurgers.forEach(function ($el) {
//       $el.addEventListener('click', function () {

//         // Get the target from the "data-target" attribute
//         const target = $el.dataset.target;
//         const $target = document.getElementById(target);

//         // Toggle the class on both the "navbar-burger" and the "navbar-menu"
//         $el.classList.toggle('is-active');
//         $target.classList.toggle('is-active');

//       });
//     });
//   }

// });
    </script>
  </body>
</html>
